.seaweed-container{
    position: absolute;
    top: 70vh;
    left: 10vw;
}
.leaf1{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-bottom: 10vh solid seagreen;
    border-radius: 10%;
    left: 6.75vw;
    top: 6vh;
    transform: skew(10deg);
    transform-origin: 0 100%;
    animation-name: leafMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.leaf2{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 0.75vw solid transparent;
    border-right: 0.75vw solid transparent;
    border-bottom: 13vh solid seagreen;
    border-radius: 10%;
    left: 7.5vw;
    top: 4vh;
    transform: skew(10deg);
    transform-origin: 0 100%;
    animation-name: leafMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.leaf3{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 17vh solid seagreen;
    border-radius: 10%;
    left: 8.5vw;
    transform: skew(10deg);
    transform-origin: 0 100%;
    animation-name: leafMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.leaf4{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 0.75vw solid transparent;
    border-right: 0.75vw solid transparent;
    border-bottom: 13vh solid seagreen;
    border-radius: 10%;
    left: 10vw;
    top: 4vh;
    transform: skew(5deg);
    transform-origin: 0 100%;
    animation-name: leafMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.leaf5{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-bottom: 10vh solid seagreen;
    border-radius: 10%;
    left: 11vw;
    top: 6vh;
    transform: skew(10deg);
    transform-origin: 0 100%;
    animation-name: leafMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes leafMove{
    0%{transform: skew(5deg);}
    50%{transform: skew(-5deg);}
    100%{transform: skew(5deg);}
}